<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title"></li>
                {{#ifCond user.role "superadmin"}}
                <li>
                    <a href="/dashboard" class="waves-effect"><i class="ti-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/district" class="waves-effect"><i class="ti-direction"></i>
                        <span>Wilayah Pemilihan</span>
                    </a>
                </li>
                <li>
                    <a href="/tps" class="waves-effect"><i class="ti-pencil-alt"></i>
                        <span>TPS</span>
                    </a>
                </li>
                <li>
                    <a href="/candidate" class="waves-effect"><i class="ti-user"></i>
                        <span>Calon</span>
                    </a>
                </li>
                <li>
                    <a href="/vote" class="waves-effect"><i class="ti-files"></i>
                        <span>Perhitungan Suara</span>
                    </a>
                </li>
                <li>
                    <a href="/user" class="waves-effect"><i class="ti-key"></i>
                        <span>Pengguna</span>
                    </a>
                </li>
                <li>
                    <a href="/setting" class="waves-effect"><i class="ti-settings"></i>
                        <span>Pengaturan</span>
                    </a>
                </li>
                {{else}}
                <li>
                    <a href="/vote" class="waves-effect"><i class="ti-files"></i>
                        <span>Perhitungan Suara</span>
                    </a>
                    <a href="/plano" class="waves-effect"><i class="ti-upload"></i>
                        <span>Upload Plano</span>
                    </a>
                </li>
                {{/ifCond}}
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>