<div class="page-title-box">
    <div class="row align-items-center mb-3">
        <div class="col-sm-12">
            <h3>{{title}}
                <div class="float-right">
                    <a href="/district/add" class="btn btn-block btn-danger"><i class="fa fa-plus"></i>
                        Wilayah</a>
                </div>
            </h3>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-sm myTable">
            <thead class="thead-dark">
                <th>No</th>
                <th>Nama Wilayah</th>
                <th>Opsi</th>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{inc @index}}</td>
                    <td>{{name}}</td>
                    <td>
                        <a href="/district/edit/{{id}}" class="btn btn-success btn-sm">Ubah</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>